
td.sender_department{
width:20%;

}
td.sender{
width:20%;
}
td.receiver_department{
width:20%;
}
td.receiver{
width:20%;
}
td.date{
width:30%;
}
td.card_title{
width:40%;
}
td.category{
width:20%;

}
