.ihiran{
margin:0 auto;
width:96%;}
td.sender_department{
width:10%;
}
td.sender{
width:10%;
}
td.receiver_department{
width:10%;
}
td.receiver{
width:10%;
}
td.date{
width:20%;
}
td.card_title{
width:40%;
}
td.category{
width:10%;

}
td.search{
width:5%;
}
.pu{
width:64px;
}
.sender_department{

}
.sender{

}
.receiver_department{

}
.receiver{

}
.date{

}
.card_title{

}

.category{

}
.pickup{margin:0 auto;
width:10%x;
}
.ichiran_width{
}
table.ichiran_index{
border-collapse: collapse;
border-spacing: 0;
text-align: center;
width:98.2%;
height:10%;
}
.ichiran_table{
text-align: center;
color:#ffffff;
width:100%;
}
.ichiran_value{
}
.ichiran_contents{
height:200px; background-color:#eeeeee; overflow-y:scroll;
margin: 0 auto;
}
.syousai_contents{
height:200px;background-color:#eeeeee; overflow:scroll;
margin: 0 auto;
}
.select_date{
margin: 0 auto;
}
iframe{
width:600px; height:300px;
margin: 0 auto;
text-align: cneter;
}
td.card_title{
text-align: cneter; overflow: hidden;
}
/*角の丸い線*/
.line{
border: solid 3px #808080;
 margin-left: auto;
 margin-right: auto;
-webkit-border-radius: 5px;
-moz-border-radius:5px;
border-radius:5px;
width:100%;
}
/*カードを隙間なく並べる*/
.ichiran_table{
boder:none;
border-collapse: collapse;
border-spacing: 0;
}
/*表の色を1行ごとに変える*/
.ichiran_table tr:nth-of-type(odd) td{background-color:#8eb4d9;border: 2px ;}
.ichiran_table tr:nth-of-type(even) td{background-color:#487ca3;border: 2px ;}
/*詳細ボタンがマウスオーバー&押された時*/
.ichiran_table input:focus{background-color:#c0c0c0;}
.ichiran_table input:hover{background-color:#c0c0c0;}
