
#button-box input#button_submit.trans{
background:#487ca3;
color:#ffffff;
font-size:25px;
border-style:none;
height:100%;
width:100%;
text-decoration:none;
margin: 0 auto;
background-position:left;
}