@(gc : List[Gratitude_Card])(par : String)(pos : Map[String,Array[String]])
@import views.html.template._
@onSideMenu("受信箱")(""){
	<link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ichiran.css")" id="receive">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/sideReceive.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/card_width.css")">
	}{
	<form name="selectForm" action="@routes.MailController.receive()" method="POST">
		@ichiran(gc)(par)("日付範囲"::"送信部署" :: "送信者" :: "カテゴリ" :: "タイトル" :: "日付"  :: Nil)(pos)
	}
