@(gc : List[Gratitude_Card])(par : String)(pos : Map[String,Array[String]])
@import views.html.template._
@cat = @{models.Category.find.all}
@emp = @{models.Employees.find.all}

@onSideMenu("代表的な事例の選択")(""){

	<link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/bbs.css")">

	}{
	<h2>代表的な事例の選択</h2>
	<div class= "ichiran_width">

	<form name="selectForm" action="@routes.TestController.test2Post()" method="POST">
		@ichiran(gc)(par)("日付範囲" :: "送信部署" :: "受信部署" :: "カテゴリ" :: "日付" :: "タイトル" :: "ピックアップ":: Nil)(pos)
	}
