@import views.html.template._
@cat = @{models.Category.find.all}

@template("査定詳細画面"){
	}{


                   <label for="name">対象者:石川次郎</label><br>
                   <label for="name">社員ＩＤ：</label>

					<Div Align="center"><h1>査定詳細</h1></Div>

					<form action="conf.php" method="post">
					<dl>
                         <form action="cgi-bin/formmail.cgi" method="post">


                        <p>
                        <Div Align="center">
                        <label for="name">日付</label><br>


                       <input type="date" name="date" placeholder="2015-01-13">

	                    　　　　　　　　　<label for="name">日から</label>

	                    <br>

                  <input type="date" name="date" placeholder="2015-01-13">
                        <label for="name">日まで</label>


                           <p>　　　　　　　　　カテゴリ
                         <select name="カテゴリ">
                         <option selected="selected"></option>
                         @for(ct <- cat){
                         	<option > @ct.category_name </option>
                         }
                         </select></p>








                        <Div Align="left">
                         <label for="name">　　　　送信部署</label><br>
                         <label for="name">検索</label>
                         <select name="送信部署">
                         <option selected="selected"></option>
                         <option value="開発部" >開発部</option>
                         <option value="営業部">営業部</option>
                         <option value="人事部">人事部</option>
                         <option value="その他">その他</option>
                         </select>
                         </Div>
                          </form>







	}


